[2014-05-27 15:39] aalexandrov opened #1 "Add controller logic to the experiment / system run() methods."

[2014-05-27 15:41] aalexandrov opened #2 "Add system implementations"
Add `System` and `ExperimentRunner` implementations for the following systems:
- Local FileSystem
- HDFS (v1, v2)
- Hadoop MapReduce (v1, v2)
- Stratosphere (v0.4, v0.5)

[2014-06-15 11:19] fschueler opened #3 "add configuration templates for systems"
Scala's Play Framework has a template engine: http://www.playframework.com/documentation/2.0/ScalaTemplates

enable configuration of systems and automatic creation of configuration xml files.

[2014-06-15 12:26] fschueler opened #4 "hierarchical configuration for framework, systems and experiments"
https://github.com/typesafehub/config supports java properties format and json

[2014-07-02 15:31] #4 closed, assigned to nobody

[2014-07-02 15:33] #3 closed, assigned to nobody

[2014-07-02 15:34] #2 closed, assigned to nobody

[2014-07-07 18:50] #1 closed, assigned to nobody

[2014-07-07 18:51] aalexandrov opened #5 "Add System and SingleJobExperiment implementations for Spark."
For first, focus only on Spark-1.0.0 and Hadoop 1.x.

[2014-07-08 13:31] fschueler opened #6 "Spark archive can't be extracted"
So far the Spark archive (spark-1.0.0-bin-hadoop1.tgz) can't be extracted automatically and has to be extracted manually before running peel.

[2014-09-10 18:46] #6 closed, assigned to nobody

[2014-09-10 18:47] #5 closed, assigned to nobody

[2014-11-10 14:25] aalexandrov opened #10 "Wait on system shutdown until every process is down."
The `stop()` method in most system beans currently just executes a system `stop` command through the shell and returns.

When multiple experiments configured with the `Experiment` lifespan use the same system, re-starting might be too fast. The `stop()` method should therefore explicitly block and wait until all system services are down.

[2014-11-10 14:31] aalexandrov opened #11 "Implement cancelJob() methods"
The `Experiment` class provides a `cancelJob()` method to force job cancellation if the experiment run exceeds the granted time limit.

The method is yet to be implemented in all of the following systems:
- Flink
- Spark
- MapReduce

[2014-11-20 13:45] #10 closed, assigned to nobody

[2014-11-24 11:47] aalexandrov opened #14 "Prepare pom.xml files for Maven Central"
In order to push `peel-core` and `peel-extensions` to the Maven Central repository, we need to follow the guidelines from the following Sonatype guides:

1. [OSSRH Guide](http://central.sonatype.org/pages/ossrh-guide.html)
1. [Apache Maven Guide](http://central.sonatype.org/pages/apache-maven.html#javadoc-and-sources-attachments)

I already opened [a JIRA issue](https://issues.sonatype.org/browse/

[2014-11-24 11:55] aalexandrov opened #15 "Integrate arithmetic expressions for experiments"
This can be done in the following steps:

1. Define a "bracket" syntax for the complex expressions, e. g.

[code]

1. Wrap the `cb.resolve()` method in [the config package](../blob/master/peel-core/src/main/scala/eu/stratosphere/peel/core/config/package.scala#L97) in a `private def resolve()` in the same package.

1. Extend the `resolve` method - use the `ScriptEngineManager` to evaluate `<% ... %

[2014-11-24 14:34] aalexandrov opened #16 "Add factory bean for experiments"
Suites of scale-out experiments contain entries with similar structure:

[code]

We can minimize the XML code required to specify such experiments and improve readability using a dedicated experiment sequence bean. The above code will then look like:

[code]

This issue depends on #15.

[2014-12-09 14:18] aalexandrov opened #23 "Update Peel Documentation"
A work in progress draft of the documentation is [available here](https://docs.google.com/document/d/1ZDbDFN3uZsVGLz8H7bwowyfLCZ8xlzoE3-aOVN5HGB4/edit#).

[2015-06-03 02:28] aalexandrov commented on #23
A work in progress draft of the documentation is [available here](https://docs.google.com/document/d/1ZDbDFN3uZsVGLz8H7bwowyfLCZ8xlzoE3-aOVN5HGB4/edit#).

[2015-06-16 13:23] tammymendt opened #27 "Fix error when running ./peel analyse without --skipInstances argument"
Currently ./peel analyse results in an error if the argument --skipInstances is not used when analysing the results of Flink experiments. This is most likely due to the way the Flink logs are being parsed.

[2015-06-16 13:26] tammymendt opened #28 "Remove unexpected files that appear in peel-analyser folder of peel-bundle"
When peel is built, a peel-bundle is created in the target of peel-dist. The bundle contains a folder peel-analyser which will contain the database that is created when calling ./peel analyse. However, when building peel, this folder (which should probably be empty) contains  the following files:

ExperimentRuns.jrxml
TaskInstancesHistogramm.jrxml
TestReport.jrxml
TwitterMingliangAllExperiments.jr

[2015-06-19 08:26] markus-h opened #30 "JOB Lifespan"
What do you think about a JOB lifespan? For my experiments on fault tolerance I need Flink to be set up freshly before every job run, since I am killing nodes during job execution. Is that something other people might need as well?

[2015-06-19 08:39] markus-h opened #31 "All Flink jobs not finishing successfully"
With the current Flink version all jobs that are running from peel are not finishing successfully.
The reason is that Flink does not support the printing of the plan from the CLI anymore.

The method
[code]
in FlinkExperiment will always return false.

A possible solution would be to change isSuccessful to only check for correct runExitCode and remove the check for plnExitCode.

[2015-06-19 10:33] aalexandrov commented on #30
Makes sense. We can meet and I will show you where to add the code.

[2015-06-19 10:35] aalexandrov commented on #31
This is a known bug that does not effect the experiment lifecycle (@tammymendt managed to run experiment suites with this this week). I prefer to have a solution where we subclass the `Flink` system and pack the logic that varies between different systems abstract.

[2015-06-22 01:50] aalexandrov commented on #31
Should be fixed with this 3686d328520a046e6ad96019462a9a75ebaef10d.

[2015-06-22 01:50] #31 closed

[2015-06-22 01:51] aalexandrov commented on #28
This is solved in my master, will push upstream this soon.

[2015-06-22 09:47] aalexandrov opened #33 "Better error handling for HDFS data dir initialization"
We're seeing a lot of `255 exit code` errors on that. These are usually caused by some rights restrictions and logged properly in the HDFS logs. A try-catch block with a `logger.error` hint might be helpful.

[2015-06-22 09:49] aalexandrov opened #34 "Sanity check for password-less ssh"
Virtually all systems depend on a password-less `ssh` connection, and this is also one of the most common causes for error. A sanity check for password-less ssh with proper log output can be either integrated in the beginning of most commands or as a special command.

[2015-06-29 15:32] aalexandrov opened #35 "Peel Release Planning"
- [x] Refactor ETL pipeline (@aalexandrov, @akunft)
- [x] [Finish Documentation](23)
  - [x] Beans section
  - [x] Workflow section
  - [x] Running Example (@carabolic)
  - [x] ETL section (@aalexandrov)
  - [x] revision (@tilmannrabl, @asteriosk, @stratosphere/benchmarking-collaborators)
- [x] Factor out cluster environment configurations in their own GitHub repositories
  - [x] [cloud-7](https:/

[2015-06-30 18:00] akunft opened #36 "Introduce init/delete for blog storage in flink-0.9.0"
Similar to the logic for the tmp directories used for spilling data, we need to integrate the logic to create/delete the directories used for the blob storage introduced in flink 0.9.0.

[2015-07-01 09:33] #36 closed

[2015-07-01 16:19] aalexandrov opened #37 "Delete dataset folder if datageneration job fails"

[2015-07-01 20:37] aalexandrov commented on #36
We got this horribly wrong :)

The `blob.storage.directory` parameter is used as storage folder for the BlobServer, which runs solely within the JobManager. Moreover, [the BlobServer initializes the directory itself if it is not created yet](https://github.com/apache/flink/blob/master/flink-runtime/src/main/java/org/apache/flink/runtime/blob/BlobUtils.java#L66).

I'll revet the changes (you also r

[2015-07-02 08:47] akunft commented on #36
Good you noticed that, sorry for the reverts :)

[2015-07-02 11:19] tammymendt opened #40 "Error when flink.conf file does not contain variable 'system.flink.config.yaml.taskmanager.tmp.dirs'"
The flink.reference.conf file does not contain this variable and the Flink.scala class tries to access it (line 35), resulting in an error when it is not defined by the user in the flink.conf file.

[2015-07-02 17:17] aalexandrov commented on #30
Resolved by ed186688dadb0770f4842ba8150d4784b74999a4. @markus-h thanks for the fix!

[2015-07-02 17:17] #30 closed

[2015-07-02 17:46] aalexandrov commented on #34
Added by @akunft in 34eebc4921b568ee5d3be26ac766cab5b37fdd53.

[2015-07-02 17:46] #34 closed

[2015-07-02 18:20] #37 closed

[2015-07-02 18:20] #40 closed

[2015-07-02 19:07] aalexandrov commented on #11
Since execution is blocking in all systems, we might ditch this bit altogether...

[2015-07-04 14:05] aalexandrov opened #41 "Create Jekyll website"
Create a static Jekyll website for the Peel 1.0.0 release.

[Check the work in progress here.](http://peel-framework.org)

## Design

We use [a cutstomized Foundation download](http://foundation.zurb.com/develop/download.html#customizeFoundation) based on ~~[this Paletton palette](http://paletton.com/palette.php?uid=72O0A0kvxoYifwUqct%2BDsjCP6cU)~~ [this Paletton palette](http://paletton.com/palet

[2015-07-04 14:45] aalexandrov commented on #27
This is going to be fixed as part of the migration of the `peel-analyzer` features into `peel-core` and `peel-extensions`.

[2015-07-04 14:45] #27 closed

[2015-07-04 14:46] aalexandrov commented on #28
This is going to be fixed as part of the migration of the `peel-analyzer` features into `peel-core` and `peel-extensions`.

[2015-07-04 14:46] #28 closed

[2015-07-05 17:12] aalexandrov opened #42 "Create archetype for versioned bundles"
Make this aligned [with the command listed in the "Getting Started" guide](http://peel-framework.org/getting-started.html#maven-archetype).

The archetype should bootstrap [the running example from the manual](http://peel-framework.org/manual/motivation.html#running-example). You can use the [tamara-msc-thesis](https://github.com/aalexandrov/tamara-msc-thesis) bundle as a basis.

[2015-07-06 17:48] aalexandrov opened #44 "Auto-download systems"
For system archives that are publicly accessible, there should be a way to specify their location as a URL (together with an MD5 hash) and auto-download them as part of the *setup* phase of the execution lifecycle.

[2015-07-07 15:47] aalexandrov commented on #44
I'm on this.

[2015-07-08 23:47] aalexandrov commented on #44
Resolved by 292c62fe441108c694d75427960ca509349763ab.

[2015-07-08 23:47] #44 closed

[2015-07-10 14:18] #33 closed

[2015-07-13 22:16] aalexandrov commented on #42
@carabolic please prepare and push an initial version of a repository called `peel-wordcount-bundle` in GitHub.

- [] The repository should follow the layout [defined in the "Motivation" section of the website](http://peel-framework.org/manual/motivation.html#running-example).
- [] The words should be generated by a random word generator shipped as part of the bundle as a Flink program.
- [] The `

[2015-07-14 14:07] carabolic commented on #42
Considering the flink and spark jobs: should they be implemented using Java 7, Java 8 (lambdas), or Scala?

[2015-07-14 15:10] aalexandrov commented on #42
I would (unsurprisingly) suggest Scala...

[2015-07-15 09:14] akunft commented on #42
+1 for scala

[2015-07-15 16:51] carabolic commented on #42
Okay. So I've added wordcount examples for Apache Flink 0.9.0 and Apache Spark 1.4.0.

I uploaded the current version to https://github.com/carabolic/peel-wordcount-bundle. There is still some work left:
* implementing the word generator
* cleaning up the pom and config files

[2015-07-15 17:00] aalexandrov commented on #42
Thanks, you can also remove `peel-wordcount-spark-datagens`.

[2015-07-15 17:20] qmlmoon commented on #42
I have implemented a word generator in procrustes, you can have a look if it helps.
  https://github.com/qmlmoon/procrustes/blob/master/procrustes-datagen/src/main/scala/eu/stratosphere/procrustes/datagen/spark/SparkDocumentGenerator.scala

[2015-07-15 18:34] aalexandrov commented on #42
@carabolic You need to migrate the generator to Flink. Please, follow the basic pattern used in the [FlinkIntGenerator](https://github.com/carabolic/peel-wordcount-bundle/blob/master/peel-wordcount-flink-datagens/src/main/scala/eu/stratosphere/procrustes/datagen/flink/FlinkIntGenerator.scala#L20):

[code]

[2015-07-21 20:22] carabolic commented on #42
Thanks for giving me directions. I've [implemented](https://github.com/carabolic/peel-wordcount-bundle) the word generator using Apache Flink. I've also added the according XML entries to have an experiments suite that runs wordcount on the generated documents. The word generator itself seems to be working, but I get an `Exception` when I try to run it using Peel (see below).

I think Peel is tryi

[2015-07-22 10:37] qmlmoon commented on #42
I tried your code. This error message is actually a bit annoying.
Peel tries to run the data generator, but the command can't be parsed. Then peel tries to clean the output directory but there's no such directory.
To fix this, simply change ${datagen.tuples.per.task} --> ${datagen.tuples.per.tasks}  in experiment.wordcount.xml file line 13.
A small mistake, which is hard to debug:-)

[2015-07-22 10:41] qmlmoon commented on #42
And you ref both hdfs-2.7.1 and hdfs-2.4.1, I think we should unify them.

[2015-07-22 11:01] aalexandrov commented on #42
I'm fixing this [here](https://github.com/stratosphere/peel-wordcount-bundle).

[2015-07-22 11:10] aalexandrov commented on #42
@qmlmoon we need to react earlier on parsing errors. Can you open an issue about that?

[2015-07-22 11:20] qmlmoon opened #45 "React earlier for parsing errors"
Currently when the command can't be parsed, peel simple throw an Exception. The Exception should be catched earlier. Otherwise it will produce meaningless error message.

[2015-07-22 11:24] aalexandrov commented on #42
@carabolic the code at the moment looks like:

[code]

where `generateWord` is

[code]

This will generate N different words. What you need to do is to

* have a generator function ( `word(i: Int): String`, similar to `generateWord`) that generates K different words (where K is the size of the dictionary and `i` is the position of the word in the generated sequence), and then pick words
* in the m

[2015-07-22 11:47] aalexandrov commented on #45
Resolved in 46acbcd2d8e0e9a3a7d9c864544bc7119f333be5.

[2015-07-22 11:47] #45 closed

[2015-07-22 15:42] aalexandrov opened #47 "Add 'hosts:generate' command"
Add a Peel command that generates `hosts.conf` files.

The command should take the following parameters

* `master` - the master URL
* For the slaves URL generation (with [Arparse4J option groups](http://argparse4j.sourceforge.net/usage.html)):
  * either
    * `slaves-pattern` a URL pattern for the hosts (required), e.g. "cloud-%d.dima.tu-berlin.de
    * `slaves-include` a `[min, max]` range of n

[2015-07-26 17:35] aalexandrov commented on #47
Closed in ad12f5393f8f848f7302435550e45a08421a2a34.

[2015-07-26 17:35] #47 closed

[2015-07-29 15:42] #14 closed

[2015-07-29 15:43] aalexandrov commented on #16
Resolved in bedd558ef5ab23a698d9aaaaa88a13b52cb64ff8.

[2015-07-29 15:43] #16 closed

[2015-08-17 10:01] lauritzthamsen commented on #42
generating projects from the archetypes currently creates an empty folder `null` in the bundle-src

[2015-08-17 11:54] aalexandrov commented on #42
@lauritzthamsen can you post a shell trace?

[2015-08-17 12:49] lauritzthamsen commented on #42
yes, here is what i see when i generate from the archetype:

~...ries/peel-bundles ✔ export BUNDLE_PKG=de.tuberlin.cit.experiments       # bundle package
~...ries/peel-bundles ✔ export BUNDLE_GID=de.tuberlin.cit                     # bundle group
~...ries/peel-bundles ✔ mvn archetype:generate -B                         \

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------

[2015-08-17 13:18] aalexandrov commented on #42
@lauritzthamsen should be fixed in the latest snapshot.

[2015-09-02 12:42] fschueler opened #51 "mvn clean deploy fails for archetype-generated project"
I followed the instructions from the [getting started](http://peel-framework.org/getting-started.html) guide.
After creating the archetype, mvn deploy failed with

[code]

(I am on wally with open jdk java 1.7)

[2015-09-02 12:59] fschueler commented on #51
Whooops, using java 1.8 solved the issue :blush:

[2015-09-02 12:59] #51 closed

[2015-09-11 11:34] Rubenito opened #54 "Problems with wc:query-runtimes"
When I try to use the wc:query-runtimes function peel provides, after initializing and updating it with the data like mentioned here: http://peel-framework.org/getting-started.html
I get the following error, which basicly states, that the function "MEDIAN" is not supported:

Unexpected error: Function "MEDIAN" not found; SQL statement:
SELECT   e.suite         as suite,
         e.name          as

[2015-09-11 13:36] aalexandrov commented on #54
I thin that the version of the [QueryRuntimes](https://github.com/stratosphere/peel-wordcount/blob/master/peel-wordcount-peelextensions/src/main/scala/org/peelframework/wordcount/cli/command/QueryRuntimes.scala) file that you are using is not up to date. Can you diff against the one in the `peel-wordcount` repository?

[2015-09-11 14:36] Rubenito commented on #54
Das war das Problem, nachdem ich QueryRuntimes ausgetauscht habe funktioniert alles.

Vielen Dank!

[2015-09-11 14:36] #54 closed

[2015-09-21 09:39] aalexandrov commented on #42
Resolved with 58bdebd6b0fded02fb08c156961d91fae1a06f85.

[2015-09-21 09:39] #42 closed

[2015-09-21 09:40] aalexandrov commented on #23
Resolved with a series of updates to the `gh-pages` branch ending with 85e5a6e7e6b0ceb18f0037b296f862c94c0c27f0.

[2015-09-21 09:40] #23 closed

[2015-11-10 12:39] fschueler opened #59 "Versioning Issue in archetype pom and maven central"
Follwoing the [instructions on the website](http://peel-framework.org/getting-started.html) does not work and leads to the following error when running `mvn clean deploy`

[code]

The version of the module that is deployed at maven central is 1.0.0-beta.

[2015-11-10 14:35] fschueler opened #61 "Improvements for the "Getting Started" page"
I tried to follow the steps on the [Getting Started](http://peel-framework.org/getting-started.html) page but couldn't get it to run. I think for potential new users it is important that all these steps work out of the box.
What I have observed so far:

- [x] Binary archive is not there (http://peel-framework.org/peel-empty-bundle-1.0-SNAPSHOT.tar.gz).
- [x] Version in the archetype pom.xml file d

[2015-11-10 16:01] aalexandrov commented on #59
This is strange, it works on my machine even if I wipe out `~/.m2/repository/org/peelframework*`. Can you try adding the following piece of code to your root `pom.xml`:

[code]

[2015-11-10 16:49] fschueler commented on #59
If I wipe out `~/.m2/repository/org/peelframework*` it can't even find the archetype because the example code to create the archetype on the getting started page also sets 1.0-SNAPSHOT as the version for the archetype. I think this could all be fixed by releasing a new peel version and making sure that all versions are consistent.

[2015-11-10 17:05] aalexandrov commented on #59
Will do.

[2015-11-11 15:16] joh-mue opened #62 "wordcount.default suite fails on second attempt"
Following the instruction on the getting started page I could get peel to work and run the wordcount.default suite once (except for the spark part that will fail as mentioned in #61) but when I try it a second time the following error is thrown:

[code]

The issue is reproducible and has been confirmed on a mac and linux machine.

[2015-11-11 18:35] aalexandrov commented on #62
Fixed in 2c844f26cabb6ebbaea7091b2c4804aafe8025e1. Thanks for reporting the bug.

[2015-11-11 18:35] #62 closed

[2015-11-11 18:36] aalexandrov commented on #61
The third issue is fixed via 7639c5aacf3858671d8ae8890dcf9bae11c2c365.

[2015-11-11 19:26] aalexandrov commented on #59
Done.

[2015-11-11 19:26] #59 closed

[2015-11-11 19:31] aalexandrov commented on #61
The second issue should be fixed via 479ea73c69c534e1332875114b7a781743b8cfa8.

[2015-11-11 19:36] aalexandrov commented on #61
The third issue should be fixed if you download the binary from here:

https://github.com/stratosphere/peel/releases/download/v1.0.0-rc1/peel-empty-bundle-1.0.0-rc1.tar.gz

@fschueler please check whether the things work now and let me know if I can close the issue.

[2015-11-12 10:59] fschueler commented on #61
I checked both the archetype and the packaged binaries and everything worked fine :)

[2015-11-12 12:23] #61 closed

[2015-11-19 15:05] fschueler opened #63 "Zookeeper does not initialize myid file"
Currently zookeeper does not initialize the myid file on each node and therefore setup fails on cluster setup.

[2015-11-19 15:29] fschueler opened #64 "Zookeeper teardown doesn't tear down the system (probably isRunning() not working correctly)"
When tearing down zookeeper, peel thinks that the system is already down.

[2015-11-19 15:32] fschueler opened #65 "Add Contributer/Developer guide/help page to website"
I think it would be helpful to add a contributers/developers page to the docs on the website.
This should explain how to setup a development environment for Peel. how to add Systems etc. and how to setup debugging for example in Intellij.

[2015-11-19 17:15] aalexandrov commented on #65
:+1: from my side.

I actually wanted to structure this as a blog post with with a running example based on the recent `DStat` addition from @verbit, but I am open to other systems if we find a volunteer to do this.

[2015-11-19 17:16] aalexandrov commented on #63
I'll need more information to resolve (or give pointers how to resovle) this issue.

[2015-11-19 17:20] fschueler commented on #63
I should be able to fix this now.

On November 19, 2015 6:16:33 PM GMT+01:00, Alexander Alexandrov <notifications@github.com> wrote:

[2015-11-20 11:56] joh-mue commented on #65
+1

I am trying to extend peel to get multiple jobs to run on Yarn concurrently to simulate cluster workloads. For this purpose I would like to be able to debug what I modified in peel.

[2015-11-20 13:46] aalexandrov commented on #65
I think that @akunft had something written up already in [the Google doc](https://docs.google.com/document/d/1ZDbDFN3uZsVGLz8H7bwowyfLCZ8xlzoE3-aOVN5HGB4/edit#) for the Manual but I cannot find it.

The basic method that I use is to configure a new "Run Configuration" in IntelliJ that uses `$BUNDLE_BIN/bundlename` as a current directory while executing.

[2015-11-20 13:57] aalexandrov commented on #65
@joh-mue here is a screenshot of an example "Run configuration" on my machine that starts Yarn. I have similar configurations for each system that I want to test.

If you wish to develop a special Experiment bean I suggest to use `exp:run --just` and start / stop the associated systems with a dedicated `exp:setup` and `exp:teardown` calls.

![screenshot from 2015-11-20 14 54 14](https://cloud.gith

[2015-11-20 16:47] akunft commented on #65
@aalexandrov  yes I did, but we wanted to move it to another section and it somehow got lost... Is there a option to see older versions of an document in google docs?

[2015-11-20 17:02] aalexandrov commented on #65
I think so. You can look [at the revision history](https://docs.google.com/document/d/1ZDbDFN3uZsVGLz8H7bwowyfLCZ8xlzoE3-aOVN5HGB4/edit#heading=h.culgy8pg5r5u).

[2015-11-20 17:09] akunft commented on #65
Nvm, added the section about *Setup/run in IDE* to the document again under *Development*

[2015-11-25 20:56] aalexandrov commented on #63
Fixed via #66.

[2015-11-25 20:56] #63 closed

[2015-11-25 20:56] aalexandrov commented on #64
Fixed via #66. Thanks!

[2015-11-25 20:56] #64 closed

[2015-11-30 14:35] joh-mue commented on #65
Thanks for the help. I tried the above but still get this weird scalac error which I pasted into this gist: https://gist.github.com/joh-mue/d098fcbe35b39d343789

Probably something related to my setup though. I'll try reinstalling everything and see if that helps.

[2015-11-30 15:02] aalexandrov commented on #65
This seems to be a problem with the compilation, not with the run configuration.

[2015-12-01 13:17] trenner commented on #65
What version of scala plugin for intellij  are you using?
I had some similar problems, but after updating to  intelij 15 + scala plugin 2.0.4 it works.

[2015-12-01 13:45] joh-mue commented on #65
I just updated too, rebuild the entire local maven repository, ran ```mvn clean``` and donated $5 to apache. Not sure which it was but one of those measures fixed the issue. It's working for me now. Thanks for the advice.

[2015-12-01 14:58] aalexandrov commented on #65
My bet is on `mvn clean`, although the `$5` seems plausible as well.

[2016-01-12 08:10] verbit opened #67 "Peel's LogCollection messed up by NFS?"
Peel's `LogCollection` is responsible for copying the part of the log (of a system) corresponding to a specific run into the results folder. However, when a run is short enough (in my case ~30s) it happens that only 0 bytes are copied for some workers. I could verify it for a custom peel extension as well as for the `HDFS2` system running on a cluster of 11 nodes (wally006-017).

I assume that the

[2016-01-12 11:28] aalexandrov commented on #67
Were you able to verify that the worker logs were non-empty after Peel exited?

[2016-01-12 11:43] verbit commented on #67
Yes.
I was also able to verify (for `HDFS2` and my dstat extension) that data was written into the system's logfile during the period of a run which, however, was not copied into the results log of the run.

[2016-01-12 20:27] aalexandrov commented on #67
Can you check whether the NFS is exported with `sync` or `async` in your case?

[2016-01-12 20:33] aalexandrov commented on #41
I'm closing this issue. The most important technical aspects have been migrated [to a dedicated Wiki page](https://github.com/stratosphere/peel/wiki/Website).

[2016-01-12 20:33] #41 closed

[2016-01-12 22:33] verbit commented on #67
It is `async`.

[2016-01-12 23:01] aalexandrov commented on #67
And the `dstat` Peel system is running with a lifespan wider than `Run`, correct?

[2016-01-12 23:14] aalexandrov opened #68 "Keep ExperimentsDefinitions.scala in source form"
Currently, `ExperimentsDefinitions.scala` is and packaged as part of the extensions package.

I suggest to move it as a resource and keep it in source format when packaging the bundle binary.

We can use `twitter-util` or Scala reflection to compile and load the class programatically at runtime. This should give the user more flexibility to do some last moment changes on the server side after runn

[2016-01-13 06:08] verbit commented on #67
No, it is running with the `RUN` lifespan.

[2016-01-13 09:13] aalexandrov commented on #67
My bad,  even with the `Run` lifespan the system will be closed after the experiment finishes and the logs are copied.

OK, your suggestion for solution sounds reasonable,  I will take a look at that in the next weeks.

As a short term workaround I suggest to add a timestamp in the Experiment Renner just before the logs are collected.

[2016-01-14 12:22] akunft opened #69 "Add file copy between two HDFS instances"
This enables us to load data sets directly from static HDFS instances to the one used in the experiments. Currently we only have facilities to copy files from local, which is especially limiting in cases the data is to big to fit on a single machine.

As I see it there are basically two options:
1. Introduce a new method to `HDFSFileSystem` and new `HDFSCopiedDataset`
2. Rewrite copy on local for

[2016-01-14 12:37] aalexandrov commented on #69
+1 for the second option

[2016-01-19 08:51] trenner commented on #69
As an alternative you can also write a simple Flink job for that (readTextfile ... writeAsText). We did something similar to load datasets with multiple nodes in parallel from SAN to HDFS on wally.

[2016-01-19 09:40] akunft commented on #69
Good point. The hadoop cmd `distcp2` I was thinking of is actually also an MR job

[2016-01-19 10:02] trenner opened #70 "Typo in peel example code on motivation page"
Under solution on http://peel-framework.org/manual/motivation.html

-DarchetypeVersion=1.0-SNAPSHOT
needs to be
-DarchetypeVersion=1.0.0-rc1

[2016-01-19 11:30] akunft commented on #67
I think the problem is not related to NFS.
In the run lifecycle, first the systems are `setUp` which actually already starts dstat before the experiment is executed (`execute`). `LogCollection.beforeRun` is called in `execute` (which sets the offset for the lines copied) and therefore all output written before the method is called is omitted.

This was no problem before as we where only interested

[2016-01-19 11:44] verbit commented on #67
This would not explain why 0 bytes are copied from the system's logs into the run logs.
At least the logs generated between `beforeRun` and `afterRun` should be available in the run logs.

The fact that `beforeRun` starts after `setUp` is indeed another problem as it might prevent the `dstat` headers from being copied over to the run logs. The current idea for fixing this is to use column numbers

[2016-01-19 11:52] akunft commented on #67
Yes, your right. The other problem remains.
To remove the file header problem, I would still suggest to override beforeRun (similar to `Spark`).

[2016-01-19 12:33] aalexandrov commented on #70
Cood catch. Thanks!

[2016-01-19 12:33] #70 closed

[2016-02-02 14:58] aalexandrov commented on #69
@akunft If you're not working on that already I'll take over the task.

[2016-02-02 19:54] akunft commented on #69
I would do it once I finished #71 #67

[2016-02-05 13:32] #67 closed

[2016-02-05 14:50] akunft opened #73 "Async/bulk copy for distributed log collections"
Currently, checking the current offset and transferring the logs is issued sequentially with independent ssh commands. As ssh commands are pretty heavy weight, we should investigate if we replace the current implementations with:

1. ` pssh` command, but I'm not sure if the implementation is more efficient than establishing the independent ssh commands separately.
2. Asynchronously issue the ssh c

[2016-02-05 16:09] #69 closed

[2016-02-06 12:31] aalexandrov commented on #73
Unfortunately `pssh` is not on all machines per default, so I would go for option 2, which leaves us with less dependencies to the host environment.

[2016-02-07 23:09] aalexandrov commented on #68
I have [a WIP for this issue here](https://github.com/aalexandrov/peel/commits/issue_68).

[2016-02-08 18:23] #68 closed

[2016-02-08 23:12] aalexandrov commented on #73
[WIP can be found here](https://github.com/aalexandrov/peel/tree/issue_73).

@akunft can you test whether this works?

[2016-02-09 12:11] aalexandrov opened #74 "Add support for Spark 1.5.2 and 1.6.0"
#Add Spark bean definitions and reference configs for versions 1.5.2 and 1.6.0.

@harrygav: maybe you can take over this issue with some assistance from @carabolic.

The PRs should look quite similar to this one:

https://github.com/stratosphere/peel/commit/a3385399670bfa7022f2dc7bace2370f69e3c58

[2016-02-10 01:01] #73 closed

[2016-02-10 01:43] #74 closed

[2016-02-10 09:53] aalexandrov opened #75 "HDFS to HDFS copy does not work for different block sizes"
When moving data from one HDFS instance to the other, the following `distcp` command

[code]

will fail due to bad CRC checks if the source and destination HDFS installations have different block size.

To fix the issue one has to do

[code]

I think we should fix this in the `HDFS2` system.

[2016-02-10 13:02] #75 closed

[2016-02-10 16:40] zerg-junior opened #76 "Integrate Apache REEF into Peel"
[Apache REEF](https://reef.apache.org/) aims to be  a standard library for developing distributed systems.   Running experiments with REEF is on the critical path of at least two DIMA projects. So we may want to integrate it into Peel to ease experimenting.

[2016-02-11 14:48] aalexandrov commented on #76
Whoever takes on on this issue can take a look at existing `System` bean implementations (e.g. `Spark`, `Flink`, or `HDFS2`) as a reference.

A commit which has more or less everything necessary to add a system is the one [which adds support for `Yarn`](https://github.com/stratosphere/peel/commit/7b9b179e8a05e00d6d4b78533209ed320998c519).

I would be happy ti give further hints if needed.

[2016-02-11 15:07] carabolic commented on #76
I'll try to create the initial prototype for REEF support.

@zerg-junior I might need some help identifying the necessary configuration parameters. Can you give me some pointers for where to find how to configure REEF for a cluster environment?

[2016-02-15 10:58] zerg-junior commented on #76
REEF needs a resource manager such as YARN or Mesos to run in a cluster. Supporting just YARN should be enough for our purposes.

This [tutorial](https://cwiki.apache.org/confluence/display/REEF/BOSS+Tutorial) describes how to use REEF with YARN ( look at slides 37-38 in the tutorial presentation). REEF provides [HelloREEFYarn](https://github.com/apache/reef/blob/758a8cd4e30e7f01ac64bc33704314d630

[2016-02-15 12:05] aalexandrov commented on #76
Peel already supports Yarn 2.4.1 (bean name `yarn-2.4.1`) and Yarn 2.7.1 (bean name `yarn-2.7.1`).

[2016-02-15 12:07] aalexandrov commented on #76
@zerg-junior it seems that you just want to submit a Java job to Yarn which has the required REEF dependencies included in a fat jar. In this case you already can do it without further modifications in Peel.

[2016-02-15 12:27] aalexandrov commented on #76
@zerg-junior OK Forgot what I said, based on the slides you point to the best way is to have a separate two separate beans

* a `REEF` class extending `System` (available via `reef-0.13.0`) that
  * handles the download and installation of [the REEF binaries](http://www.apache.org/dist/reef/0.13.0-incubating/apache-reef-0.13.0-incubating.tar.gz), and
  * depends on `yarn-2.7.1`.

* a `REEFExperime

[2016-02-18 09:32] zerg-junior commented on #76
@carabolic I'll look into this issue, but I'll need some help with Peel.

[2016-02-18 09:36] zerg-junior commented on #65
Are there any other developer guides besides the draft  on Google Docs ?

[2016-02-18 10:15] aalexandrov commented on #65
Not really, but contributions are welcome. At the moment the best guide is to look at existing implementations. To work out the details, it helps if you are familiar with the [Peel Execution Lifecycle](http://peel-framework.org/manual/execution-workflow.html#execution-lifecycle) implemented by the [`suite:run` command](https://github.com/stratosphere/peel/blob/master/peel-core/src/main/scala/org/p

[2016-02-18 11:31] carabolic commented on #76
I'll create the skeleton, that is extending `System` and `Experiment`.

[2016-02-18 12:09] zerg-junior commented on #76
I am actually doing this right now. Let's meet early next week to split the work.

[2016-02-18 12:20] carabolic commented on #76
here you go: I've created a [branch 76-REEF](https://github.com/carabolic/peel/tree/76-REEF), escpecially the last commit https://github.com/carabolic/peel/commit/c3b757bc4c4c9fab01f5309b1287de466d337248 .

[2016-02-18 15:06] aalexandrov opened #77 "Migrate to Java 8"
We have to make sure that we consistently ask for Java 8 in all documentation and configuration for the project.

[2016-02-18 21:58] #77 closed

[2016-02-20 01:19] aalexandrov commented on #76
I've left some comments in the skeleton. I really thing that you need to implement only one method based on Slide 38 and can leave everything else empty. You can also check the LogCollection trait that can be mixed in your implementation in case you want to collect some REEF nodes.

[2016-02-22 12:08] verbit commented on #76
I am currently working on the `Yarn` system in order to enable the collection of the user log files (currently only yarn-specific log files are collected and copied into the results folder).
When I'm done, the results folder should also contain the user log files (as retrieved via `yarn logs -applicationId <application ID>`).

[2016-02-22 16:33] aalexandrov commented on #76
@verbit I guess this assumes that you are submitting Yarn applications with

[code]

Do you have an `Experiment` bean for that?

[2016-02-23 13:53] carabolic opened #78 "Compiler Error When Using zinc"
# Error
When using zinc server for incremental builds `Peel` does not compile due some problem with `org/peelframework/core/cli/command/rsync/package$FolderEntry` with the following error message:
[code]

This seems to be a [know issue](https://issues.scala-lang.org/browse/SI-5954) of the Scala compiler.

# Reproduce
To reproduce this bug, simply start  a zinc server with `zinc start` followed by

[2016-02-24 11:53] carabolic commented on #76
OK. I've implemented the missing methods for `REEFExperiment` in my [last commit](https://github.com/carabolic/peel/commit/65c069c31c95a79c6facbd4433e14bb305e7bac4) as explained in the [BOSS Tutorial on slide 38](http://1drv.ms/1OgHuwZ). The assumption is that the REEF job is somewhere in the Yarn classpath (`yarn classpath`), the `apps/` directory in the Peel `$BUNDLE_BIN`, or the `lib/` folder i

[2016-02-24 13:20] aalexandrov commented on #76
@carabolic you can omit the `lib` folder, this is only related to Peel. Bug I agree, if we can handle this through a `YarnExperiment` I think the effort should go there. This implies that the `apps` folder will contain REEF applications as fat jars.

[2016-02-24 14:30] carabolic opened #79 "Add Yarn Experiment"
Add support for Yarn experiments.

This would make REEF experiment redundant (#76) for now.

[2016-02-25 11:09] carabolic opened #80 "The Archetype org.peelframework:peel-flink-bundle generates empty directory"
When creating a new bundle using `mvn archetype:generate` as follow:

[code]
creates an empty `peel-wordcount-spark-jobs` directory.

[code]

[2016-02-25 15:31] carabolic commented on #79
This seems to resolve #76 as well.

Also see [my working example](https://github.com/carabolic/peel-reef-on-yarn), specifically the [experiment definition](https://github.com/carabolic/peel-reef-on-yarn/blob/master/example-bundle/src/main/resources/config/experiments.xml#L23) that is using `YarnExperiment` to run a `REEF` job.

[2016-02-25 15:36] #80 closed

[2016-02-25 15:38] carabolic commented on #76
With a working implementation for `YarnExperiment` for #79 I don't see any reason to leave this open or have a `REEFExperiment` at all.

It might be valuable to have a `REEF` system though, such that we could use the configuration to specify the resource manager (e.g. Yarn, Mesos) per experiment.

But for the simple use-case of running a REEF job on Yarn #79 is sufficient as shown in [my example](

[2016-02-25 15:40] aalexandrov commented on #76
@carabolic agreed. I don't think that the system will help a lot as parts of the configuration like the experiment bean will have to be RM-dependent anyway. I think we can close this as a wontfix as the required functionality will be basically provided by #79.

[2016-02-25 15:44] aalexandrov commented on #79
@carabolic can you make a PR with your `org.peelframework.hadoop.beans.experiment.YarnExperiment` implementation?

@verbit I think that log collection for Yarn jobs has to be implemented within the `YarnExperiment.SingleJobRun#runJob()` logic, as this is the place where you get a handle on your application ID.

[2016-02-25 15:46] #79 closed

[2016-02-25 15:49] #76 closed

[2016-03-23 13:34] aalexandrov opened #81 "Bag 'fat-jar' profile for datagen module in archetypes"
The `fat-jar` profile in the `*-datagen` modules in all archetypes is missing the following entries:

[code]

Without that, running the `WordCountGenerator` main method from the IDE throws an error.

[2016-03-25 10:30] aalexandrov opened #82 "commons-math3 distribution sampling too slow"
The `commons-math3` distributions used in the reference data generator in the archetypes are really slow.

During a local test of [an experiment suite](https://github.com/TU-Berlin-DIMA/flink-hashagg) on which I am working with @ggevay I am observing the following numbers for generating `dataset.A` with key cardinality 100000:

* with `Uniform` key distribution, the job takes ~ 5 seconds
* with `B

[2016-03-25 11:28] #81 closed

[2016-03-25 11:36] aalexandrov commented on #82
I've written a [small benchmark (how meta)](https://github.com/aalexandrov/peel-wordcount/blob/distributions_problem/peel-wordcount-datagens/src/main/scala/org/peelframework/wordcount/datagen/flink/DistributionsBenchmark.scala) to highlight the problem.

Here are the results:

[code]

`Uniform` and `Normal` distributions are fastest with roughly the same values, `Pareto` is ~ factor 10 slower, fol

[2016-03-30 11:30] aalexandrov opened #84 "Migrate systems to DistributedLogCollection"
The regular `LogCollection` logic does not work due to large latencies when reading remotely via NFS.

We already migrated `Flink` and `DStat` to the `DistributedLogCollection` trait, and I suggest to do so with all other systems which produce logs on multiple hosts.

The issue is up for grabs.

[2016-05-06 10:00] verbit opened #85 "Flink's DistributedLogCollection ignores JobManager Logs"
The Flink's DistributedLogCollection does not copy the JobManager logs into the results folder.

The problem is that the current RegExp (see linked code lines) iterates only over all slaves. However, the JobManager logs are suffixed with the master hostname.

https://github.com/peelframework/peel/blob/master/peel-extensions/src/main/scala/org/peelframework/flink/beans/system/Flink.scala#L61-L62

[2016-05-06 10:10] aalexandrov commented on #85
@verbit thanks for reporting this, I now see that we have similar issues with HDFS as well.

Can you verify whether this patch resolves the problem? I can then push a fix.

[code]

[2016-05-06 10:35] verbit commented on #85
Yes, looks good to me.

[2016-05-15 21:26] #85 closed

[2016-05-16 15:47] aalexandrov commented on #84
I migrated HDFS2 with the latest batch of changes.

[2016-05-16 15:47] #84 closed

[2016-05-16 15:48] aalexandrov commented on #35
All boxes ticked. Thanks to all contributors! Wow :)

[2016-05-16 15:48] #35 closed

[2016-05-20 10:53] akunft opened #86 "ExperimentSequence with multiple parameters"
`ExperimentSequence` already has the facilities to create crossed and zipped parameters, but the according ctors are missing.

Lets create them :)

I have a prototype for the crossed variant [here](https://github.com/akunft/peel/blob/multiple-parameters/peel-core/src/main/scala/org/peelframework/core/beans/experiment/ExperimentSequence.scala)

which lets you define the crossed parameters like this

[2016-05-21 12:49] aalexandrov commented on #86
The indended use is to use the `parameters: ExperimentSequence.Parameters` parameter in the corresponding constructors and pass an explicilty created `Parameters` instance (e.g. `ZippedParameters` or `CrossParameters`).

This works for XML, but is a bit verbose and hard to understand.

For zipped and crossed parameters, Scala-based config seems to be a much better fit, as you can just have a

[cod

[2016-05-23 09:38] akunft commented on #86
Yes, I see. My bad, then this works all fine :)

[2016-05-23 09:38] #86 closed

[2016-05-29 12:26] aalexandrov opened #87 "Better support for resource montioring with Dstat"
This is a meta-issue for tracking the addition of Peel extensions for better resource monitoring as part of the running BDAPRO project at TU Berlin.

The work will be carried out from @Talmaj with mentoring from my side.

I suggest to add the following functionality:

1. Peel extractors that import Dstat output data into a Peel results analysis database.
1. Peel commands / database queries that pr

[2016-05-30 10:18] robert-schmidtke opened #88 "Add --loglevel option"
It'd be really cool if it was possible to specify the log level when running `peel.sh`, this would make it easier to develop and test extensions. I'm adding XtreemFS as a `System` to Peel and I'd like to add some `logger.debug(...)` statements during `start()` and `stop()`.

[2016-05-30 10:27] robert-schmidtke opened #89 "Adding utility methods to Model"
I have come across the issue that I'd like to be able to call some utility functions from a Mustache template. The situation is as follows: I have one template that needs to be rendered once for each slave, and each slave needs a unique ID. Because there can be many slaves, I don't want to provide sufficiently many templates, but rather have one template and render it multiple times with different

[2016-05-30 10:36] aalexandrov commented on #88
Great idea, the implementation should be straight forward:

- [ ] Add an extra `--loglevel` option [here](https://github.com/TU-Berlin-DIMA/BDAPRO.SS16/issues/7#issuecomment-222442475) with an enumerated tomain (`DEBUG`, `INFO`) and a default value `INFO`.
- [] Propagate the Argparse4J namespace value of `app.log.level` to a same-named System property [here](https://github.com/peelframework/peel/b

[2016-05-30 11:07] aalexandrov opened #90 "Add `exp:config` comand"
Should print the experiment config to stdout for debugging purposes. This is helpful in while developing a bundle.

[2016-05-30 11:15] aalexandrov commented on #89
Do you have a WIP branch for that? I might be able to suggest something better if I can play around with the code.

[2016-05-30 11:47] robert-schmidtke commented on #89
My code is currently part of a private project, I'll see if I can extract it and set it up as a fork of Peel instead.

[2016-06-08 07:27] aalexandrov commented on #15
I am closing this with a *WONTFIX*.

Scala-based specification solves most of the problems.

[2016-06-08 07:27] #15 closed

[2016-06-08 12:36] aalexandrov commented on #88
This will be included in `1.0.0-rc6`.

[2016-06-08 15:08] noproblem666 opened #91 "java.lang.NoSuchFieldError: tupleType"
When trying to run the peel-wordcount experiment on our cluster we get the following exception message in the "run.err" file:

The console log shows the following: https://gist.github.com/noproblem666/506c8d296aa85a05ea4f81148c38deb8

What is the cause of this problem and how can we fix it?

Thanks and Best regards,
Robert

[2016-06-08 15:12] aalexandrov commented on #91
Seems to be a linkage error in the `peel-wordcount` app against Flink.

Which path from the manual are you following (Pre-Packaged Binary or Maven Archetype)?

[2016-06-08 15:29] noproblem666 commented on #91
We cloned the `peel` and `peel-wordcount` repositories and built it ourself with `mvn clean install` instead of using archetype or pre-packaged binary.

[2016-06-08 15:47] aalexandrov commented on #91
OK, I suggest to make sure that you adapt your `peel-wordcount` sources upgrade to `flink-1.0.3`.

[2016-06-08 20:17] #88 closed

[2016-06-08 23:40] aalexandrov commented on #91
This should be resolves with the latest version of the master.

[2016-06-09 11:34] noproblem666 commented on #91
I pulled the latest version of the `peel` repository and tried to built it with `mvn clean install`.
Unfortunately I get the following error message:
[code]

[2016-06-09 17:04] aalexandrov commented on #91
This was an error with the `license:check` goal, should be resolved with the latest master. If not you, can just disable the plugin from the main pom.xml.

[2016-06-14 12:42] noproblem666 commented on #91
Works fine, thanks!

[2016-06-14 12:42] #91 closed

[2016-06-14 12:43] aalexandrov commented on #91
No problem.

[2016-06-29 10:43] noproblem666 opened #93 "Flink wordcount experiment with YARN"
Hi,
we want to run the flink wordcount experiment on our cluster on the top of YARN and HDFS. For this we added another dependency to our` flink.0.10.2` bean in the` systems.xml`. But this does not work properly. Can you give us a hint, how we have to configure the sytems.xml to run flink on YARN and HDFS.

Thanks,
Robert

[2016-07-04 17:39] aalexandrov commented on #93
Can you point me to a repository that contains the experiment configuration?

[2016-07-06 13:59] noproblem666 commented on #93
Thanks for your response @aalexandrov and sorry for my delay!

You can find our configuration files here: [peel-wordcount/config](https://github.com/noproblem666/peel-wordcount/tree/master/config)

[2016-07-06 14:35] aalexandrov commented on #93
Can you run `exp:setup wordcount.default wordcount.flink` and monitor the status of the configured systems (run `jps`, open the webinterface to check whether all the systems have started properly).

You can also post the output of the Peel command (also written in `log/peel.log` here).

[2016-07-12 12:26] noproblem666 commented on #93
This is the Output, when I run `exp:setup wordcount.default wordcount.flink`: [log exp:setup](https://gist.github.com/noproblem666/31d26b114b7a075d1c79ca4e2bec58e7)

With this command `peel` updates the `fs.default.name` value in the `core-site.xml` file to `localhost:9000`. Therefore no nodes can connect to the master.

When I run `sys:setup flink-0.10.2` with the same configurationI will get thi

[2016-07-12 13:05] aalexandrov commented on #93
@noproblem666 It seems that you have not set-up an environment configuration for your test cluster. You can take a look at

[code]

Which we use at DIMA and adapt them.

Indeed, this sounds like a bug in the Yarn implementation.

@joh-mue, @lauritzthamsen did you actually use the Yarn setup on Wally at CIT?

[2016-07-12 13:13] aalexandrov commented on #93
Looking at both [your config scripts](https://github.com/noproblem666/peel-wordcount/tree/master/config) and [the `sys:setup` log output](https://gist.github.com/noproblem666/31d26b114b7a075d1c79ca4e2bec58e7), it seems to me that the `fs.default.name` should be set to `fs.default.name = "hdfs://"${runtime.hostname}":8020/"` (as defined in `hadoop-2.conf` which is included from `hdfs-2.7.1.conf`).

[2016-07-12 13:16] aalexandrov commented on #93
This could be due to a merging issue of the `system.hadoop-2.config` namespace after including `yarn.conf`.

[2016-07-12 13:27] aalexandrov commented on #93
OK I think I found the root cause:

[code]

The defaults from [`reference.yarn-2.7.1.conf`](https://github.com/peelframework/peel/blob/master/peel-extensions/src/main/resources/reference.yarn-2.7.1.conf) (which transitively include [`reference.hadoop-2.x.conf`](https://github.com/peelframework/peel/blob/master/peel-extensions/src/main/resources/reference.hadoop-2.x.conf) are loaded **after** `conf

[2016-07-18 15:27] fschueler commented on #93
I just hit the same problem and for me the solution was to include the parameters from the `hdfs-2.7.1.conf` also in the `yarn-2.7.1.conf`, overwriting the hadoop defaults again.

[2016-07-21 11:43] joh-mue commented on #93
i believe that is what I did too. It's been a while though.

[2016-07-26 14:37] noproblem666 commented on #93
Thanks for your feedback!

Yes, the solution @fschueler mentioned works for me also.  Nevertheless this should not the desired behaviour, right?

If I change the order of dependency declaration in `systems.xml` like @aalexandrov mentioned to the following, it will work also:

[code]

In this case the `yarn-2.7.1.conf` requires YARN related configuration parameters only.

I also changed `Yarn.scala

[2016-08-01 12:49] noproblem666 opened #96 "Order of system dependency execution during setup / teardown"
Hi,

this issue is related to #93.

I have configured the following system bean `flink-0.10.2` in `systems.xml`:

[code]

When I run `./peel.sh sys:setup flink-0.10.2` I will get the following log output:

[code]

As you can see the execution order is: YARN, Flink, HDFS.

When I run `./peel.sh exp:run wordcount.default wordcount.flink` the execution order will change to: HDFS, Flink, YARN.

This b

[2016-08-01 13:03] twiechert opened #97 "Workaround for Zookeeper config bug"
This is not a Peel  but rather a Zookeeper (tested 3.3.6) bug that could be addresses easily by the respective Peel extension. The [zookeeper mustache emplate](https://github.com/peelframework/peel/blob/master/peel-extensions/src/main/resources/templates/zookeeper/conf/zoo.cfg.mustache) generates an output like:

\# The number of milliseconds of each tick
....
\# the directory where the snapshot i

[2016-08-01 13:16] noproblem666 commented on #93
I would like to come back to my previous post.

We want to run Flink on the top of YARN. To do this, we need to start the `yarn-session.sh` script from the Flink system directory after YARN is started on the cluster.

Starting `yarn-session.sh` instead of `start-cluster.sh` is not implemented in the flink class so far. Are you planning to add YARN support to the Flink extension soon?

Like the fea

[2016-08-01 14:02] aalexandrov commented on #93
This is not supported yet, but contributions are welcome.

[2016-08-01 14:05] aalexandrov commented on #96
Seems like a bug.

[2016-08-01 14:18] aalexandrov commented on #93
@noproblem666: To get a quick prototype that can be verified against an existing bundle quickly, you can

1. subclass Flink and,
1. add the new class in your `$bundle-peelextensions` package, and
1. modify the setup / teardown logic in the subclass.

Then configure modified flink bean as follows:

[code]

[2016-08-01 14:20] aalexandrov commented on #96
@noproblem666 Can you list the bean config for the `wordcount.default` suite and the `wordcount.flink` experiment?

[2016-08-01 19:46] twiechert commented on #97
Answering my own question:
The provided templates can be overridden creating a template file that is located in a path that is more specific (i.e. it refers to the version declared in systems.scala):

`resources/templates/zookeeper/3.3.6/conf/zoo.cfg.mustache`

[2016-08-01 19:46] #97 closed

[2016-08-03 09:22] noproblem666 commented on #96
You can find my current experiment configuration [here](https://github.com/noproblem666/peel-wordcount/tree/master/config).

[2016-08-19 10:15] akunft commented on #96
I had some thoughts related to this issue lately.
Should we introduce ordered dependencies, aka. change from Set to List, over the transitive dependencies of a system?

I have no real problem with the current implementation, but for instance when we tear down an experiment running with Spark on HDFS, we (randomly) shut down HDFS before Spark which should not be the case as Spark depends on HDFS (b

[2016-08-19 10:22] aalexandrov commented on #96
This sounds more like a bug in the set based representation.

Setup is in reversed topological order (dependencies before dependent syatwns) and teardown in topological order (dependent system before dependencies).

If it does not happen like that the bug is either in the framework or in the configuration.

[2016-08-19 10:23] akunft opened #98 "Remove unused input from previous experiments in suites"
Currently we only remove the output from previous experiments when executing a suite.

I experienced some problems lately in suites with lots of different input data while having a fixed system and cluster setup. This resulted in out of disk space errors because the input of previous experiments used all the disk space.

I would suggest we introduce a flag for suites which, when enabled, removes i

[2016-08-19 10:23] aalexandrov commented on #96
Have you added HDFS as a dependency for Spark in your configuration?

[2016-08-19 10:24] akunft commented on #96
Yes

[2016-08-19 10:25] aalexandrov commented on #96
Sorry I think we got to the bottom of the original issue and it was rated to the order of loading the different configuration layers.

[2016-08-19 11:15] aalexandrov commented on #98
I think that this is just because we were lazy to do it better from the onset.

:+1: IMHO the implementation should be based on some sort of Graph analysis which determines whether an input is going to be needed later in the suite or not.

[2016-08-19 11:18] aalexandrov commented on #98
Sorry it is not clear to me whether we talk about `ExperimentOutput` or `DataSet` beans?

[2016-08-19 12:04] akunft commented on #98
I mean the DataSet beans from the experiment inputs.

:+1: for the graph analysis, instead of only checking the previous experiment. Then we can also make it by default.

Do you think we should extend that also to the output data, to achieve suite with dependencies on previous output?

[2016-08-23 15:22] noproblem666 opened #100 "Dstat config file"
Hi,

we want to use Dstat as a dependency for Flink to get fine grained resource statistics. Unfortunately, Peel has no default or example configuration for Dstat. If we just use the provided Dstat reference config an error occur. Does anyone has an example configuration file for dstat?

Thanks!

[2016-08-23 15:54] aalexandrov commented on #100
What error?

[2016-08-23 16:14] lauritzthamsen commented on #100
we're using _dstat-0.7.2_ via the `reference.dstat-0.7.2.conf` (which is a default config, isn't it?). the only thing our cluster-specific dstat config sets is `system.dstat.config.out.dir`.

[2016-08-24 15:53] noproblem666 commented on #100
The error is: `No configuration setting found for key 'system.dstat.path.log'`

[2016-08-24 15:59] aalexandrov commented on #100
I removed this setting when I reworked the DStat system implementation (see 6b7d9725572f44080a0b214a446b0851e2ce5d27).

Can you verify that the `Dstat` system bean that you have included in your bundle [is the latest version](https://github.com/peelframework/peel/blob/6b7d9725572f44080a0b214a446b0851e2ce5d27/peel-extensions/src/main/scala/org/peelframework/dstat/beans/system/Dstat.scala)?

Maybe y

[2016-08-25 10:03] noproblem666 commented on #100
I have recompiled the latest version of the `peel-extensions` project and them copied to the `$BUNDLE_BIN/lib` folder. However the error message appears.
[code]

I now added the following line in `system.dstat.path` to the` dstat-0.7.2.conf`: `log = ${java.io.tmpdir}"/dstat"`

Now it works fine!

Thanks!

[2016-08-25 10:10] aalexandrov commented on #100
It seems that your experiment configurations is referring to a non-existing variable. You can grep your codebase for `system.dstat.path.log`, but this won't match definitions that use the nested HOCON syntax, e.g.  `system { dstat { path { log = ... } } } }`.

[2016-08-25 10:12] aalexandrov commented on #100
However, the reference should be located somewhere in the stack of files loaded for the problematic experiment.

[2016-08-30 21:45] he-sk opened #101 "Timeout when running the Getting started example"
Hi,

I get the following error message when running the first peel.sh command in the Getting started guide:

[code]

The command I ran was:

[code]

I installed peel by cloning the current Github sources, checking out the tag v1.0.0, and then running `mvn install`. The only change I made is that I use `~/Desktop/bundles` for `$BUNDLE_{BIN,SRC}`.

Viktor

[2016-08-31 07:45] aalexandrov commented on #101
The critical lines are

[code]

Usually this indicates that your ssh configuration prompts for a password.

Go to `$BUNDLE_BIN/log/shell.in`, look for a command that has the form

[code]

and try to execute it manually. The command should be able to run in a non-interactive mode, and for that you will need [passwordless ssh](http://www.linuxproblem.org/art_9.html).

Another problem that we saw on

[2016-08-31 22:58] he-sk commented on #101
Thanks, that helped.

[2016-08-31 22:58] #101 closed

[2016-09-05 14:42] aalexandrov opened #102 "Config file loading should be layer-major (as opposed to system-major)."
The order in which different configuration layers (default, bundle-specific, and host-specific) are loaded should dominate the systems, e.g.

[code]

rather than what is used before

[code]

The issue causes faulty behavior due to overriding of bundle- or host-specific parameter values with defaults (see #93).

[2016-09-06 12:57] #102 closed

[2016-09-07 09:09] aalexandrov commented on #98
Here is an idea for the implementation:

- construct the initial dependency graph
- keep track of the initial set of input and output nodes
- after each experiment
  - remove the experiment node from the graph
  - query each input and output for dependent nodes. If the result is empty, delete the data.

I suggest to introduce flags `--preserve-input` and `--preserve-output` that disable the logic

[2016-09-07 09:13] aalexandrov commented on #93
The issues with the Yarn start/stop and with the dependency resolution should be resolved with Peel 1.1.0.

Can you revert the workaround solution, validate and report, so we can close this?

[2016-09-08 01:20] aalexandrov opened #103 "Clean tmp dirs on system shutdown"
When executing long-running suites, the `tmp` folders configured in runner systems might become full. In order to avoid failures due to full `/tmp` device.

[2016-09-08 12:31] akunft commented on #98
Actually I already have a prototype for the inputs only, but I could extend it for the output sets as well. Its not based on the graph though.

https://github.com/akunft/peel/commit/437f9179f1c37d9b9973efd32062502c91e6ce81

There are actually two problems regarding the configuration:

1. We would have to set the config for all decentants for the exp beforehand. We need this to resolve the paths of

[2016-09-22 13:40] noproblem666 commented on #93
Yes, Yarn works fine now and the order of dependencies is resolved for me. You can close this issue and #96 also I think. Thanks! 👍

For the Flink on Yarn problem I will open a new issue when I have some code to share. :-)

Thanks again!

[2016-09-22 13:45] noproblem666 commented on #100
I found no reference for `system.dstat.path.log` in my experiment configuration.
However, it works for me by setting the log path `system.dstat.path.log`in `dstat-0.7.2.conf`.

Anyway, I think you can close this issue. Thanks!

[2016-09-22 13:55] aalexandrov commented on #100
BTW the latest Peel version (1.1.1) introduces an `exp:config` command which dumps the HOCON config used for a specific experiment. If you use the `--origin` option you can debug and see why the value is missing or is set to a bad value.

[2016-09-22 13:55] #100 closed

[2016-09-22 13:56] aalexandrov commented on #93
@noproblem666 @FelixNeutatz perhaps you can join forces here, we already merged some Yarn related stuff in the master:

https://github.com/peelframework/peel/commit/c68852a1afd49fe90ffa905aa201e42fb6c2ed88

[2016-09-22 13:57] #93 closed

[2016-09-25 12:32] #96 closed

[2016-09-25 12:33] aalexandrov commented on #90
Resolved with 9976652d811d8b42c7c29b89c5b1ca32f03b2671.

[2016-09-25 12:33] #90 closed

[2016-09-29 10:48] noproblem666 opened #105 "Data generator with multiple file output"
We have a data generator for a KMeans benchmark and want to use it with the PEEL framework.
The generator produces 2 files, points and centers and run as a flink job. We want to save these files in `<hdfs-root-directory >/kmeans` using the `GeneratedDataSet` class and then pick these files with the KMeans flink job.

My question is: How can we configure PEEL to create the directory `kmeans` in HDF

[2016-09-29 11:07] aalexandrov commented on #105
I think this should work

[code]

[2016-09-29 11:50] noproblem666 commented on #105
Thanks for your fast reply!
Unfortunately, this does not work. I got the following exception:
[code]

It seems that the bean cannot used twice.

[2016-09-29 12:00] aalexandrov commented on #105
Then duplicate the bean definition as well (using the same `command` and `runner` values).

[2016-09-29 14:45] noproblem666 commented on #105
Sorry, my fault! I forgot to change the bean id for each `GeneratedDataSet`.
Now, the experiment starts but the job does not finish successfully.
This is the experiment configuration for the data generation:

[code]

This is the error message from stdout:
[code]

And this is from the log `run.err`:
[code]

Have you an idea what could be wrong?

Thanks a lot!

[2016-09-29 17:05] aalexandrov commented on #105
Try

[code]

(with an extra `/` in  the beginning).

[2016-09-29 17:07] aalexandrov commented on #105
actually, can you show me the Java / Scala code that parses the `--output $PATH` value?

[2016-10-13 13:49] noproblem666 commented on #105
Sorry for the delay!

We use the KMeans benchmark and the KMeans data generator from the "official" flink examples on GitHub:

https://github.com/apache/flink/blob/d7b59d761601baba6765bb4fc407bcd9fd6a9387/flink-examples/flink-examples-batch/src/main/java/org/apache/flink/examples/java/clustering/KMeans.java

[2016-10-17 09:38] FelixNeutatz opened #106 "Dstat I/O monitoring is incorrect"
During the last week I monitored our peel bundle(https://github.com/fschueler/sysml-benchmark) using dstat (with the default configuration). It turned out that the file dstat is reading from has incorrect data statistics: /proc/diskstats
The way how I figured that out was that I queried the I/O statistics per process using:  /proc/[processid]/io

So I queried the process id of the corresponding sy

[2016-10-27 17:12] aalexandrov opened #107 "Dstat does not load after URL change"
@rssdev10 reports the following issue:

[code]

Due to

[code]

Quick fix might be to change the URL in `reference.dstat-0.7.2.conf`.
Proper fix would be to add support for 301 response in the download logic.

[2016-10-30 14:04] aalexandrov commented on #107
Resolved with the following commits as part of version 1.1.3.

- 78210c5 Ensuring that https downloads work.
- 31333bb Fixed dstat-0.7.2 URL.

[2016-10-30 14:04] #107 closed

[2016-10-30 14:04] aalexandrov commented on #106
@FelixNeutatz any news on the issue?

[2016-10-30 20:57] FelixNeutatz commented on #106
no, nothing new.

[2016-12-07 15:17] FelixNeutatz commented on #106
I forwarded the question to the Dstat people: [Dstat repo](https://github.com/dagwieers/dstat/issues/126)

[2016-12-07 21:24] FelixNeutatz commented on #106
For now, I found a workaround using the following Dstat config: [dstat-0.7.2.conf](https://github.com/fschueler/sysml-benchmark/blob/master/sysml-benchmark-bundle/src/main/resources/config/dstat-0.7.2.conf)

Not sure, whether this is a solution in general

[2017-01-31 13:38] FelixNeutatz commented on #106
It turns out that caching is the problem. To get the "real" numbers one can "overwrite" the cache by running a different pundle e.g. https://github.com/FelixNeutatz/DstatCheck which produces a 100GB dataset and reads it.

[2017-01-31 13:38] #106 closed

[2017-02-01 21:16] mnoumanshahzad opened #110 "Using different/custom version of Apache Flink"
Hi,
  I am trying to benchmark a custom Apache Flink build and Apache Flink v1.1.4. Apparently the current Peel Framework code runs experiments on Apache Flink v1.1 Can you kindly point out the changes I need to make in the project to be able to use the other versions of Apache Flink.

Thanks

[2017-02-01 21:51] aalexandrov commented on #110
@mnoumanshahzad We can certainly help.

The lasest version of Peel [added support for Flink v1.1.4](https://github.com/peelframework/peel/commit/3484d2888134c457254502f59e6427fe172e6999).

To migrate to Flink v1.1.4 you have to:

## 1. Update Peel

First you need to update the `peel-core` and `peel-extensions` versions used in your project. To do this, change the `peel.version` to `1.1.4` in your

[2017-02-01 21:51] #110 closed

[2017-02-14 12:52] hechi opened #111 "Force python version for dstat and other tools"
Hey,

i enabled dstat-0.7.2 and start my experiments. But there was no output of dstat.
I found out that dstat-0.7.2 printed an error which is piped to /dev/null on the ssh cli invocation.
The error was a python syntax error which appears between python2.y and python3.x scripts.
[code]
Probably it would be a good idea for the peelframework to force specific python versions or print the dstat error

[2017-02-15 16:28] carabolic opened #112 "dstat download path doesn't exist anymore"
Peel tries to download `dstat-0.7.2` from https://fossies.org/linux/privat/dstat-0.7.2.tar.gz. But it seems that the file doesn't exist anymore. Maybe we should update to `dstat-0.7.3` which does exist.

To reproduce the bug, delete/move the dstat archive from the peel downloads directory and delete/move the dstat system from the peel system directory.

[2017-02-15 23:53] carabolic commented on #112
Upon some investigation I found the official place to download at https://github.com/dagwieers/dstat/archive/0.7.2.tar.gz. But this one has a different md5 as the one specified in the `reference.dstat-0.7.2.conf`. Should I replace them anyway?

[2017-02-16 09:13] aalexandrov commented on #112
Yes, and maybe also add 0.7.3 as version (needs an entry in extensions.scala and an additional `*.conf` file.

[2017-02-16 09:15] aalexandrov commented on #111
I guess the workaround would be to call dstat indirectly

[code]

instead of

[code]

[2017-02-16 13:19] hechi commented on #111
Yes as a workaround it would work, but not every python environment has to be in /usr/bin/ :)
probably it would be enough if you but the error pipe into the log and not to /dev/null
thx for helping :)

[2017-04-16 14:22] aalexandrov commented on #112
Fixed in v1.1.6 with e9b884ab32c03a4196bde0daf8cc25eb0d46be2a.

[2017-04-16 14:22] #112 closed